<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" type="image/png" href="https://cdn.discordapp.com/attachments/626449728988774401/846825201803198514/Pngtreevector_drill_icon_4083491.png"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/0ec7756a65.js" crossorigin="anonymous"></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Drill Party</title>
        {% load static %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <link
          rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
        />
        <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}"
        />
    </head>
    <body>
        <div id="gradient">
            <div id="main" >
                <div id="app"></div>
            </div>
        </div>
        <script src="{% static "frontend/main.js" %}"></script>



        <div style="text-align:center; border-radius: 10px;
        position: fixed;
        bottom: 15px;
        width:99%;" 
         
        class="social">


        
          <a href="https://twitter.com/L33tRoccat" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
                <a href="https://www.instagram.com/lucas_delinhares/" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
                <a href="https://discord.gg/Eheq3KkSYj" target="_blank"><i class="fab fa-discord fa-2x"></i></a>
                <a href="https://github.com/lucascompython" target="_blank"><i class="fab fa-github fa-2x"></i></a>
                <a href="https://open.spotify.com/user/21hhx32ylbgrvfw4oobsc5fmy?si=f4aecb1334ce4b96" target="_blank"><i class="fab fa-spotify fa-2x"></i></a>
            
          
            
          <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
          </div>


    </body>
</html>